.header {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
   background-color: white;
   border-bottom: 2px solid black;
   padding-top: 10px;
   padding-bottom: 10px;
   width: 100%;
   z-index: 999;
}



