.search-input {
    width: 100%;
    
}

.checkbox {
    display: flex;
}

.product-item {
    display: flex;
}

.add-to-cart-button {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 50%;
}


